
#title{
  width:100%;
  text-align: center;
  font-weight:bold;
  font-size:5rem;
}

div.contacts{
  margin-top:5%;
}

form {
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top:2%;
  margin-bottom:2%;
  color:green;
}
#fName, #lName, #emailWork, #emailPersonal{
  width:48%;
  margin-bottom:2%;
}

#address{
  width:40%;
}

#submit {
  width:10%;
}
#phoneNumPersonal, #phoneNumWork {
  width:20%;
}
section.contactCard {
  border: 2px solid green;
  border-radius:5%;
  margin-bottom:2%;
  padding-left:5%;
  padding-right:5%;
  padding-bottom:2%;
  background: rgb(201, 255, 201);
}

.material-symbols-outlined{
  margin-left:1%;
}

section.contactDetails{
  display: flex;
  flex-direction:column;
  font-size: 2rem;
}

h1{
  margin-bottom:3%;
}
